{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <h1>This is the Home page</h1>
            <p>Hi Man!!</p>
            <p>Hi Man!!</p>

            
            <img src="/static/images/house.jpg" height="800" width="1240">
        </div>
    </div>
{{end}}